*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
*{
   outline: none;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;

	margin: 0px;
	padding: 0px;

 	background-image: url(../img/pages/regpage/bg.jpg);

 	overflow-x: hidden;
 	overflow-y: hidden; 
}

h1, h2, h3{
	
}

.wrapper{opacity: 0.5; background-color: #545252; width: 100%;}
.text-box{
	padding-top: 100px;
	padding-bottom: 100px;

	text-align: center;
}

.title{
	color: #fff;

	opacity: 1;
}
.reg-form{
	padding-bottom: 172px;
}
.log-form{
	padding-bottom: 197px;
}
.form-div{
	border:1px #fff solid;
}
.form-input{
	height: 35px;
	width: 250px;

	margin-bottom: 5px;
	margin-top: 5px;

	background-color: #fff;
	opacity: 1;

	color: blue;
	font-size: 18px;
}
.form-button{
	margin-top: 5px;

	background-color: #fff;
	color: blue;

	height: 40px;
	width: 150px;

	border: none;
	border-radius: 3px;
	border: 2px blue solid;
}
.form-button:hover{
	background-color: blue;
	border-color: transparent;
	color: #fff;

	cursor: pointer;

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
p{
	background-color: #fff;
	color: red;

	height: 35px;
	width: auto;

	font-size: 18px;

	margin: 0px;

	border: 1px red solid;
}
span{
	background-color: #fff;
	color: green;

	height: 35px;
	width: auto;

	font-size: 24px;

	margin: 0px;

	border: 1px green solid;

	text-align: center;
	
}
.hidden{
	display: none;
}
